@model CaseSheetPostModel

@{
    ViewData["Title"] = "Create";
}

@section Scripts
{
    
    <script src="~/js/caseSheet.bundle.js"></script>
    <script>
        $(function () {
            caseSheet.create();
        })
    </script>
}

<div id="react-mount-point"></div>

