@model CaseSheetPostModel

@{
    ViewData["Title"] = "Create";
}

@section Scripts
{
    <script src="~/js/caseSheet.bundle.js" asp-append-version="true"></script>
}

<div id="react-mount-point"></div>

